@{
    ViewData["Title"] = "Home";
    var eventList = ViewBag.filteredEvents as List<Event>; 
    var comuni = ViewBag.listComuni as List<string>;
    Layout = null; 
}

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}