@{
    var eventList = ViewBag.filteredEvents as List<Event>;
    var listComuni = ViewBag.listComuni as List<string>;
}

<h2>Lista eventi</h2>

<!-- Form per inserire ricerca + pulsante per passare il dato -->
<form asp-controller="Event" asp-action="Index" method="get">
    <input type="text" name="searchQuery" placeholder="Cerca evento..." value="@ViewBag.searchQuery" />
    <button type="submit">Filtra</button>
</form>

<!-- Stampa della lista -->
@if (eventList != null && eventList.Any())
{
    @foreach (Event evento in eventList)
    {
        <p>@evento.NomeEvento</p>
    }
}
else
{
    <p style="color:red"> Nessun evento trovato </p>
}